.bk1 {
    width: 900px;
    margin: 0 auto;

    border-bottom: 2px solid silver;
    display: block;

}

.bk2 {
    width: 740px;
    height: 45px;

    margin: 0 auto;
}

.ck1 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid red;
    position: relative;
}

.ck2 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;

    position: relative;
}

.ck3 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    position: relative;
}

.ck4 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    position: relative;

}

.s1 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 18px;
    background: url("./img/hong.png") no-repeat center;
    color: aliceblue;
}

.s2 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 10px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}

.s3 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 10px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}

.s4 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 24px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}

.xy {
    width: 725px;
    height: 460px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 70px;
}


.xy1 {
    width: 690px;
    height: 40px;
    /* border: 1px solid red; */
    margin-left: 16px;
}

.xyp {
    font-size: 18px;
    line-height: 40px;

}

.xy2 {
    width: 690px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 10px;
}

.xy2>p {
    font-size: 12px;
    margin: 8px;
}

/* .cl {
    border: 1px solid red;
} */

.cl>ul>li {
    font-size: 15px;
    margin: 10px;

}

li>a {
    color: red;
}

li>a:hover {
    text-decoration: underline;
}



.cla>a {
    font-size: 20px;
    display: block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;

    text-align: center;
    background: #FF0036;
    color: white;
}