.bk1 {
    width: 900px;
    margin: 0 auto;


    display: block;

}

.bk2 {
    width: 740px;
    height: 45px;

    margin: 0 auto;
}

.ck1 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid red;
    position: relative;
}

.ck2 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid red;
    position: relative;
}

.ck3 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid red;
    position: relative;
}

.ck4 {
    width: 184px;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid red;
    position: relative;

}

.s1 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 18px;
    background: url("./img/hong.png") no-repeat center;
    color: aliceblue;
}

.s2 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 10px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}

.s3 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 10px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}

.s4 {
    width: 24px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0px;
    left: 24px;
    background: url("./img/bai.png") no-repeat center;
    color: aliceblue;
}




.main-center {


    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
}


.dv1 {
    display: block;

}

.dv1-1>span {
    display: block;
    text-align: right;
    margin-right: 452px;
    margin-top: 20px;
}

.dv2>a {
    display: block;

    margin-left: 85px;
    margin-top: 40px;

}